.list-overflow-container {
    max-height: 545px;
    border: 1px rgb(1, 18, 255) solid;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .list-overflow-container ul {
    margin: 0;
  }
  
  .list-overflow-container li {
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  
  .list-overflow-container li * {
    cursor: pointer;
  }
  
  .list-overflow-container li a {
    color: rgb(240, 255, 37);
    background: #000000;
  }
  
  .list-overflow-container li:first-child {
    border-top: none;
    background: #07300d;
  }
  
  .list-overflow-container li:last-child {
    background: #350707;
    border-bottom: none;
  }